[Unit]
Description=Postfix MTA STS daemon instance
After=syslog.target network.target 

[Service]
Type=simple
User=mta-sts
Group=mta-sts
# This is the ExecStart path for RHEL7 using python 36 from the Software collections.
# You may use a different python interpreter on other distributions
ExecStart=/opt/rh/rh-python36/root/bin/mta-sts-daemon
Restart=always
KillMode=process
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
